.badge-text {
    font-size: 130%;
}

.border-0-on-focus {
	border-style: none;
	outline: none;
}

.py-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.multiselect-autocomplete-input {
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.multiselect-autocomplete-input-focus {
     color:#495057;
     background-color:#fff;
     border-color:#80bdff;
     outline:0;
     box-shadow:0 0 0 .2rem rgba(0,123,255,.25)
}

.dropdown-overlay {
  z-index: 50;
}