.multiselect label {
	display: inline-block;
	width: 80px;
}

.multiselect-autocomplete-input {
	display: inline-block;
	vertical-align: top;
	border: solid 1px black;
	border-radius: 5px;
	padding: 2px;
	width: 400px;
}

.multiselect-autocomplete-selected-items {
	display: inline-block;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.multiselect-autocomplete-selected-item {
	display: inline-flex;
	background-color:#d9d9d9;
	border-radius: 5px;
	padding: 2px;
	margin-bottom: 4px;
	margin-right: 3px;
	align-items: center;
	cursor: default;
}

.multiselect-autocomplete-selected-item i {
	font-size: 100%;
}

.multiselect-autocomplete-text-input {
	display: inline;
	padding: 0px;
	border: none;
}

.multiselect-autocomplete-text-input:focus {
	border-style: none;
	outline: none;
  }

.multiselect-autocomplete-dropdown {
	position: relative;
	left: 85px;
	width: 404px;
	margin: 0px;
	background-color: #d9d9d9;
	border-radius: 5px;
}

.multiselect-autocomplete-dropdown-items {
	list-style: none;
	margin: 0px;
	padding: 0px;
	border-radius: 5px;
}

.multiselect-autocomplete-dropdown-items li {
	padding: 5px;
	border-radius: 5px;
}

.multiselect-autocomplete-dropdown-item-highlighted {
	background-color: #c7b300;
}